{% extends 'layout.html' %}

{% block nav %}
  {% from 'nav.html' import nav %}
  {{ nav('posts') }}
{% endblock %}

{% block content %}
  <h1>Posts</h1>
  {% if flash('new_post') %}
  <div class="sysmsg">
    Post <q>{{ flash('new_post').title }}</q> created.
    <a href="?posts/show&amp;id={{ flash('new_post').id }}">View it now.</a>
  </div>
  {% elseif flash('edited_post') %}
  <div class="sysmsg">
    Post <q>{{ flash('edited_post').title }}</q> edited.
    <a href="?posts/show&amp;id={{ flash('edited_post').id }}">View it now.</a>
  </div>
  {% elseif flash('deleted_post') %}
  <div class="sysmsg">
    Post <q>{{ flash('deleted_post').title }}</q> deleted.
  </div>
  {% endif %}

  <div class="table-overflow-wrapper">
    <table>
      <thead>
        <tr>  <th>  ID
              <th>  Title
              <th class="post-list__post-actions">
                <a class="button button--primary button--small"
                  href="?posts/new">+ New</a>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>  <td>{{ post.id }}
                <td>
                  <a href="?posts/show&amp;id={{ post.id }}">
                    {{ post.title }}
                    {% if post.state == 'draft' %}
                      <span class="post-list__post-state">(Draft)</span>
                    {% endif %}
                  </a>
                <td class="post-list__post-actions">
                  <a class="button button--small"
                    href="?posts/edit&amp;id={{ post.id }}">edit</a>
                  <a class="button button--small"
                    href="?posts/delete&amp;id={{ post.id }}">delete</a>
        {% else %}
          <tr>  <td colspan=4>
                  Nothing has been posted yet.
                  <a class="button" href="?posts/new">
                    + Make a new post
                  </a>
        {% endfor %}
      </tbody>
      {% if cursor %}
      <tfoot>
        <tr>  <td colspan=4 class="post-list__post-actions">
                <a href="?posts&amp;after={{ cursor }}">Next &raquo;</a>
      </tfoot>
      {% endif %}
    </table>
  </div>
{% endblock %}
