.post {
  width: 100%;
}

$post-sidenote-width: 15em;
$post-sidenote-gap: 1.25em;

@media screen and (min-width: 60em) {
  .post {
    width: 55em;
    margin: 0 auto;
    padding-left: $post-sidenote-width + $post-sidenote-gap;
  }

  .post-sidenote-container {
    display: flex;
    flex-flow: row-reverse nowrap;
    position: relative;
    width: 100%;

    & > .post-paragraph {
      width: 100%;
    }
    & > .post-sidenote {
      position: absolute;
      left: -1 * ($post-sidenote-width + $post-sidenote-gap);
      width: $post-sidenote-width;
      text-align: right;
    }
  }
}
