$sidenote-index-color: darkred;

.sidenote {
  font-size: 85%;
  // color: #999;
  margin: {
    top: 0;
    bottom: 0.5em;
  }
}

.sidenote-index, .sidenote-ref {
  color: $sidenote-index-color;
}

.sidenote-ref {
  // superscript
  line-height: 0.8;
  font-size: 80%;
  vertical-align: top;
}
