* { box-sizing: border-box; }

$background-color: hsl(0, 0%, 95%);

body {
  background-color: $background-color;
  font-family: sans-serif;
  line-height: 1.25;
}

@import "typography";


pre {
  max-width: 100%;
  overflow-y: scroll;
  padding: 1em;

  background-color: #343434;
  color: #dfd;

  border-radius: 0.25em;
}

hr {
  width: 15em;
  border: none;
  border-top: 0.1em solid #666;
  margin: {
    // assuming it's surrounded by <p>s, they have margin-top: 0.5em,
    // so we compensate only on the bottom
    top: 1em;
    bottom: 0.5em;
  }
}

@import "post-layout";
@import "sidenote";
@import "front";

.page {
  margin-bottom: 20vh;
}
