.text-block {
  width: 100%;
}

@media screen and (min-width: 60em) {
  .text-block {
    width: 55em;

    display: grid;
    grid-template-columns: [text] 40em [asides] 15em [right];
    grid-column-gap: 0.75em;
  }

  .text-block > * {
    grid-column: text / asides;
  }
  .text-block__sidenote {
    grid-column: asides / right;
  }
}
