$text-color: hsl(0, 0, 5%);
$link-color: scale-color($text-color, $lightness: 5%);

@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: 400;
  src: local('Charter'), url('/style/charter/400.woff') format('woff');
}
@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: 400;
  src: local('Charter Italic'), url('/style/charter/400i.woff') format('woff');
}
@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: 700;
  src: local('Charter Bold'), url('/style/charter/700.woff') format('woff');
}
@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: 700;
  src: local('Charter Bold Italic'), url('/style/charter/700i.woff') format('woff');
}

body {
  color: $text-color;
  line-height: 1.25;
  font-family: Charter, sans-serif;
}

a {
  color: inherit;
  text-decoration-color: scale-color($background-color, $lightness: -25%);

  // display: inline-block;
  // height: 1.1em;
  // border-bottom: 0.1em solid scale-color($background-color, $lightness: -20%);
}
a:visited {
  text-decoration-style: dotted;
}
a:hover {
  background-color: scale-color($background-color, $lightness: -7.5%);
}

h2, h3, h4, h5, h6 {
  margin-bottom: 0.25em;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1.15em; }
h4, h5, h6 { font-size: 1em; }

.text {
  font-size: 1.15em;
}

.post-paragraph {
  margin: {
    top: 0;
    bottom: 0.5em;
  }
}

blockquote {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border-left: 0.25em solid scale-color($background-color, $lightness: -25%);
  color: scale-color($text-color, $lightness: 15%);

  & > .post-paragraph:last-of-type {
    margin-bottom: 0;
  }
}
